h1,h2,h3,h4,h5,h6{
    color: yellowgreen;
}


.block{
    display: block;
    padding: 20px;
    margin: 20px;
    font-style: italic;
}

.inline{
    display: inline;
    background-color: aqua;
    text-align: center;
    font-size: small;
}

.inline-block{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.none{
    display:none;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    color: blue;
}

.hidden{
    visibility: hidden;
    padding: 10px;
    margin:100px;
    border: 10px solid black;
}

.block1{
    display: block;
    background-color: lightgray;
    margin: 10px 0 0 0;
}
.inline1{
    display: inline;
    background-color: lightblue;
    margin: 10px 10px 0 0;
}   