body{
    margin: 50px;
    background-color:blanchedalmond;
}
.header{
    display: flex;
    justify-content: space-between;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.box{
    border: 1px solid black;
}

.head{
    font-size: 150px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0px;
}

.sub head{
    text-align: center;
}
.values{
    display: flex;
    gap: 40px;
}

.foot{
    display: flex;
    justify-content: space-between;
    border: 1px solid solid;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    color: aliceblue;
}
